$color1: #2e3440; // Used for text
$color2: #8d9296; // Used for borders
$color3: #d0d5e1; // Used for highlighted borders
$color4: #1BA2DB; // Used for 'secondary' text
$color5: #059DFF; // Used for links, highlights and navbar background
$color6: #060606; // Used for lighter colored borders

