$color1: #f5f5f5; // Used for text
$color2: #a5a7ab; // Used for borders
$color3: #434c5e; // Used for highlighted borders
$color4: #788296; // Used for 'secondary' text
$color5: #059DFF; // Used for links, highlights
$color6: #d3d6db; // Used for lighter colored borders
$color7: #313138; // Used for navbar background